<!DOCTYPE html>
<html lang="en">
<head>
    <title>Piloti</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <img src="../static/images/logof1.jpg" alt="Formula1" width="300">
      <hr>
      <div class="navigazione">
  
        <span><div><a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/">Home</a></span>
        <span><a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/tuttipiloti">Piloti</a></span>
        <span><a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/stagioni">Stagione</a></span>
        <span><a class="active" href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/circuiti">Circuiti</a></span>
        <span><a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/scuderie">Scuderie</a></div></span>
</div>
    <h1>Tutti i circuiti della F1 della storia</h1>
    <hr>
</section>

<div class="flex-container">
    {% for circuito in table_list %}
        <div>
        <p>Name: {{ circuito[2] }}</p>
        <p>{{circuito[3]}}, {{ circuito[4] }}</p></div>
    {% endfor %}
</div>
</body>
</html>