<!DOCTYPE html>
<html lang="en">
<head>
    <title>Piloti</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <img src="../static/images/logof1.jpg" alt="Formula1" width="300">
      <hr>
  <div class="navigazione">
  <ul>
    <li><div><a class="active" href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/">Home</a></li>
    <li><a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/tuttipiloti">Piloti</a></li>
    <li><a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/stagioni">Stagione</a></li>
    <li><a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/circuiti">Circuiti</a></li>
    <li><a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/scuderie">Scuderie</a></div></li>
  </ul>
  </div>
    <hr>
    <h1>Tutte le scuderia di F1 della storia</h1>
</section>
<div class="flex-container">
    {% for scuderia in table_list %}
        <div>
        <p>{{scuderia[3]}} </p>
        <p>Name: {{ scuderia[2] }}</p></div>
    {% endfor %}
</div>
</body>
</html>