<!doctype html>
<title>F1</title>
<link rel="stylesheet" href="../static/css/style.css" />
<body>
  <img src="../static/images/logof1.jpg" alt="Formula1" width="300">
      <hr>
    <div class="navigazione">
      <a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu97.gitpod.io/">Home</a>
      <a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu97.gitpod.io/tuttipiloti">Piloti</a>
      <a href="#">Stagione</a>
      <a href="#">Circuiti</a>
      <a href="#">Scuderie</a>
    </div>
</body>