<!doctype html>
<title>F1</title>
<link rel="stylesheet" href="../static/css/style.css" />
<body>
  <img src="../static/images/logof1.jpg" alt="Formula1" width="300" align="center">
      <hr>
    <div class="navigazione">
    <ul>
      <li><div><a class="active" href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu97.gitpod.io/">Home</a></li>
      <li><a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu97.gitpod.io/tuttipiloti">Piloti</a></li>
      <li><a href="#">Stagione</a></li>
      <li><a href="#">Circuiti</a></li>
      <li><a href="#">Scuderie</a></div></li>
    </ul>
    </div>
</body>