<!DOCTYPE html>
<html lang="en">

<head>
    <title>Piloti</title>
    <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
    <img src="../static/images/logof1.jpg" alt="Formula1" width="300">
    <hr>
    <div class="navigazione">
  
            <span><a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/">Home</a></span>
            <span><a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/tuttipiloti">Piloti</a></span>
            <span><a class="active" href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/stagioni">Stagione</a></span>
            <span><a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/circuiti">Circuiti</a></span>
            <span><a href="https://5000-cafferatiel-progettodif-kpgfkokndxm.ws-eu98.gitpod.io/scuderie">Scuderie</a></span>
        </ul>
    </div>
<hr>
<h1>Le stagioni della F1</h1>
</section>
<div class="flex-container">
    {% for stagione in table_pst %}
    <div>
        <p>Year: {{ stagione[0] }} </p>
        <p><a href="http://en.wikipedia.org/wiki/{{ stagione[0] }}_Formula_One_season">Wikipedia</a></p>
    </div>
    {% endfor %}
</div>
</body>

</html>