body {
    color: rgba(0,0,0,.87);
    font-family: "Roboto";
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin: 5;
    min-width: 18.75rem;
}

hr{
    color: rgb(0, 0, 0);
}

img{
    border-radius: 10%;
}

.navigazione > div{
    color: rgba(0,0,0,.87);
    font-family: "Roboto";
    font-size: 0.8125rem;
    font-weight: 400;
    background-color: rgb(202, 6, 6);
    align-items:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li a {
    display: inline;
    float: left;
    width: 100px;
    background-color: #ff0000;
    padding: 8px 16px;
}

li a:hover {
    background-color: #000000;
    color: rgb(255, 0, 0);
}

.active {
    background-color: #000000;
    color: rgb(255, 0, 0);
  }

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    flex-direction: row;
}

.flex-container > div {
    background-color: rgb(247, 247, 247);
    width: 300px;
    border: 2px solid rgb(151, 151, 151);
    padding: 50px;
    margin: 20px;
    border-radius: 10%;
  }
